//Style de page

$body__color: #011c37a6;

//Couleurs principales

$color__primary: #0f926d;

$color__secondary: #15DEA5;

$colro__tertiary: white;

//Styles particuliers

$color__bouton__background__before: #3d5e7e;

$color__bouton__background: #011c37;

$color__statut__false: rgb(129, 30, 30);

//Valeurs 

$shake_intensity: 1%;


